/target/
/packages/libvirt-adapter/dist/
/packages/host-*/wasm-libvirt-host
/packages/libvirt-adapter/node_modules/
/packages/libvirt-adapter/native/
/packages/libvirt-adapter/wasm/
/prototypes/virt-wasm-feasibility/target/
/node_modules/
*.tgz
docs
